.App {
  width: 60vw;
  margin-left: 20%;
  margin-right: 20%;
  background: rgb(168, 168, 168);
  height: 100%;
  border: 0.1px solid rgb(203, 203, 203);
  box-shadow: -1em 6px 1em 2px rgb(176 176 176 / 30%), 1em 1px 0.4em rgb(176 176 176 / 30%);
  margin-top: 10px;
  padding: 10px;
  height: auto;
  min-height: 90vh ;
}

.row-centerized{
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}